BasedOnStyle: LLVM
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: Always
ColumnLimit: 150
ObjCSpaceAfterProperty: true
SpaceBeforeParens: ControlStatements
AccessModifierOffset: 12
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Attach